.second-fotter {
  width: 100%;
  min-width: 800px;
  height: 45px;
  background-color: black;
  text-align: center;
  bottom: 0;
}

.second-fotter-text-wrap {
  display: flex;
  justify-content: center;
}

.footer-link {
  color: #FFF;
  font-size: 20px;
  line-height: 40px;
}
