<%= render "shared/header" %>
 <div class='title-contents'>
    <p>マジで</p>
 </div>
 <div class='title-contents-second'>
  検温しました？
 </div>
 <div class="btn-copy">信じてるヨ！</div>
 <div class="toppage-btn">
  <%= link_to '入力ページはこちら', "#", class: "btn btn--yellow btn--radius" %>
 </div>
